
<ol class="relative border-s border-gray-200 ml-4">                  
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-sky-200/80">Actualmente</time>
        <h3 class="text-lg font-semibold text-yellow-200 mt-2">Desarrollador de software - CopiermasterCyG</h3>
        <p class="mb-4 text-base font-normal text-gray-200 text-prety"> Responsable de diseñar e implementar el sistema de tickets
            dentro de la empresa de outsourcing de impresión, el cual se encarga de gestionar los inconvenientes
            generados por los usuarios con respecto a los equipos de impresión. El aplicativo web fue desarrollado con PHP mas el framework
            Codeigniter y la base de datos MySql.
            
        
  </svg></a>
    </li>
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none  text-sky-200/80">Octubre 2021 - Febrero 2022</time>
        <h3 class="text-lg font-semibold text-yellow-200 mt-2">Desarrollador de software - Rosaholics</h3>
        <p class="text-base font-normal text-gray-200 text-prety">
            Responsable de ayudar en el equipo de programacion de la empresa en dar mantenimiento al aplicativo Web, el cual
            se encargaba de gestionar ordenes de compra por los usuarios en una tienda desarrollada en Shopify. El sistema
            estaba desarrollado con PHP mas el framework Codeigniter y la base de datos PostgreSql.
            Tambien se trabajo en la tienda en linea Desarrollada en Shopify utilizando el lenguaje Liquid.
        </p>
    </li>

</ol>

